.container{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.table{
margin: auto;
color: white;
height: 600px;
width: 400px;
justify-content: center;

}

.div{
    background-color:white;
}
body{
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9757.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
